$icomoon-font-family: 'icons' !default;
$icomoon-font-path: './../../../fonts' !default;

$icon-building: '\e919';
$icon-community: '\e91a';
$icon-hand: '\e91b';
$icon-location: '\e91d';
$icon-tree: '\e91e';
$icon-website: '\e91f';
$icon-check: '\e918';
$icon-arrow-down: '\ea3e';
$icon-icon-arrow-left: '\e915';
$icon-icon-arrow-right: '\e916';
$icon-arrow-up: '\ea3a';
$icon-pause-simple: '\e912';
$icon-play: '\e913';
$icon-form-arrow-up: '\e910';
$icon-form-arrow-down: '\e911';
$icon-star-path1: '\e90b';
$icon-star-path2: '\e90c';
$icon-star-path3: '\e90d';
$icon-arrow-left: '\ea40';
$icon-arrow-right: '\ea3c';
$icon-carrot: '\e902';
$icon-close: '\e923';
$icon-email: '\e904';
$icon-facebook: '\e905';
$icon-instagram: '\e906';
$icon-linkedIn: '\e907';
$icon-pause: '\e908';
$icon-pinterest: '\e909';
$icon-search: '\e927';
$icon-twitter: '\e90e';
$icon-youtube: '\e90f';
$icon-bars: '\e91c';
$icon-caret-down: '\ea3e';
$icon-caret-right: '\e921';
$icon-caret-up: '\e922';
$icon-close1: '\e923';
$icon-fb: '\e924';
$icon-github: '\e925';
$icon-search1: '\e927';
$icon-arrow-up1: '\ea3a';
$icon-arrow-up-right: '\ea3b';
$icon-arrow-right1: '\ea3c';
$icon-arrow-down1: '\ea3e';
$icon-arrow-left1: '\ea40';
